@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #333;
    box-sizing: border-box;
}


body {
    background-image: url(../img/abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette-studio-banner.jpg);
    background-size: cover;
}

button {
    background-color: #FDFDFD;
    color: rgb(20, 53, 90);
    border: 2px solid #2b2b61;
    padding: .3rem .6rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

button:hover {
    background-color: #2b2b61;
    color: white;
}

button:hover > i {
    color: white;
}

button i {
    color: #2b2b61;
    font-weight: bold;
    pointer-events: none;
}

input, select {
    padding: 0.25rem 0.5rem;
}

.hide {
    display: none;
}


/*header*/

.todo-container {
    max-width: 450px;
    margin: 10rem auto 0;
    background-color:  #c9d3dd;
    padding: 1.5rem;
    border-radius: 15px;
    box-shadow: 1px 1px 7px 0px #bacadb;
}

.todo-container header {
    text-align: center;
    padding: 0 1rem 1rem;
    border-bottom: 1px solid #ffffff;
}

/*form */

#todo-form, #edit-form {
    padding: 1rem;
    border-bottom: 1px solid #ffffff;
}

#todo-form p,
#edit-form p{
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.form-control {
    display: flex;
}

.form-control input {
    margin-right: 0.3rem;
}

#cancel-edit-btn {
    margin-top: 1rem;
}

/*Todo toolbar */

#toolbar {
    padding: 1rem;
    border-bottom: 1px solid #ffffff;
    display: flex;
}

#toolbar h4 {
    margin-bottom: .5rem;
}

#search {
    border-right: 1px solid #ffffff;
    padding-right: 1rem;
    margin-right: 1rem;
    width: 65%;
    display: flex;
    flex-direction: column;
}

#search form {
    display: flex;
}

#search input {
    width: 100%;
    margin-right: 0.3rem;
}

#filter {
    width: 35%;
    display: flex;
    flex-direction: column;
}

#filter select {
    flex: 1;
}

/*Todo list*/

.todo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #ffffff;
    transition: .3s;
}

.todo h3 {
    flex: 1;
    font-size: 0.9rem;
}

.todo button {
    margin-left: 0.4rem;
}

.done {
    background-color: #395169;
}

.done h3 {
    color: #ffffff;
    text-decoration: line-through;
    font-style: italic;
}